parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    level: 7
    excludePaths:
        - '%rootDir%/../../../src/Spryker/SalesReturnSearch/src/Spryker/Client/SalesReturnSearch/Plugin/Elasticsearch/Query/ReturnReasonSearchQueryPlugin.php'
